body {min-height: 100%; background-color: #CCD0D4; margin-top: 30%;}

h1.hello{
    text-align: center; text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.6875em; color: transparent;
    letter-spacing: 0.01em;
}

.hello span {
    text-shadow: 
    0 0 2px rgba(204, 208, 212, 0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
    animation: hello 0.85s ease-in-out infinite alternate;
}

@keyframes hello{
    to {text-shadow: 
        0 0 2px rgba(204, 208, 212, 0.2),
        0 0 3px rgba(0, 0, 0, 0.02),
        0 0 0 rgba(0, 0, 0, 0),
        0 0 0 rgba(255, 255, 255, 0),
        0 0 0 rgba(0, 0, 0, 0),
        0 0 0 rgba(255, 255, 255, 0),
        0 0 0 rgba(255, 255, 255, 0);}
}

.hello span:nth-child(2){
    animation-delay: 0.15s;
}

.hello span:nth-child(3){
    animation-delay: 0.30s;
}

.hello span:nth-child(4){
    animation-delay: 0.45s;
}

.hello span:nth-child(5){
    animation-delay: 0.60s;
}